@model Listing

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> SportsStore </title>
</head>
<body>
    <h3> @Model.Title </h3>
    <p> @Model.Description </p>
    <h1> Are You Sure? </h1>
    <form method="post">
        <button asp-action="Delete" asp-route-productId="@Model.Id"> Delete </button>
        <button asp-action="Index" formmethod="get"> Cancel </button>
    </form>
</body>
</html>